
{% load static %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Papeleria</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        {% if pantalla == 'ventas' %}
           <li class="active">
           <a href="{% url "consulta" %}">Ventas <span class="sr-only">(current)</span></a></li>
        {% else %}
           <li>
           <a href="{% url "consulta" %}">Ventas </a></li>
        {%  endif %}



        {% if pantalla == 'recarga' or pantalla == 'recarga_datos' %}
           <li class="dropdown active" >
        {% else %} 
           <li class="dropdown">
        {% endif %}

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recarga <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url "recarga" %}">Recarga normal</a></li>
            <li><a href="{% url "recargadatos" %}">Recarga Internet</a></li>
            <li><a href="{% url "reporte_recargas" %}">Reporte recargas</a></li> 

          </ul>
        </li>

        {% if pantalla == 'impresion' %}
          <li class="active">
            <a href="{% url "impresion" %}">Impresion <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
           <li>
             <a href="{% url "impresion" %}">Impresion</a>
           </li>
        {% endif %}
     {% if es_master %}
        {% if pantalla == 'movimiento_inventario' or pantalla == 'importacion' or pantalla == 'reporte_diario' %}
           <li class="dropdown active" >
        {% else %} 
           <li class="dropdown">
        {% endif %}

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administracion <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url "cambioprecio" %}">Movimientos al  inventario</a></li>
            <li><a href="{% url "importar" %}">Carga de nuevos productos</a></li>
            <li><a href="{% url "reporte_diario" %}">Reporte diario </a></li> 

          </ul>
        </li>
      {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url "logout" %}">
		     <i class="fas fa-sign-out-alt"></i>
		</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
