{% extends "precios/base_menu.html" %}

{% block titulo %}
<title> Recargas de tiempo aire </title>
{% endblock %}

{% block custom_page_resources %}

  <link rel="stylesheet" href="/static/precio/css/recarga.css" >
  <script languaje='javascript'>
     var pantalla = '{{ pantalla }}'
     function normalizePlan(origen) {
        old = "###"
        planes = []
        plan_compania = []
        for (var i = 0; i < origen.length; i++) {
           if (old != origen[i].compania) { 
               plan_compania = []
               planes[origen[i].compania] = plan_compania
           }
           plan_compania.push(origen[i])
           old = origen[i].compania
        }
        return planes;
     }
     var planes_plain = {{ planes | safe }}
     var planes = normalizePlan(planes_plain)

  </script>

{% endblock %}

{% block body %}
       <div class="container mt-5">
	  <p> {{ titulo }} </p>
	 <form class="form-horizontal">
		  
                {% csrf_token %}
		<!-- Text input-->
		<div class="row form-group">
		  <label class="col-md-4 control-label" for="compania">Compania</label>  
		  <div class="col-md-4">
                  <select name="compania"  id="compania" class="form-control"  >
                  {% for c in companias %}
                     <option value='{{ c.codigo }}'> {{ c.description }} </option>
                  {% endfor %}
		  </select> 
                  <small class="form-text form-text-error"></small>
	
		  </div>
		</div>
                <div style="display:none">
                  
                  {% for c in companias %}
                     <img id="img{{c.codigo}}" src='/static/img/{{c.imagen}}' /> 
                  {% endfor %}

                </div>

		<div class="row form-group">
		  <label class="col-md-4 control-label" for="plan">Plan</label>  
		  <div class="col-md-8">
                      <div class="radio">
                        <table>
                          <tr><td id="bloque0" width="30%" vertical-align="top">
                            
                          </td>
                          <td id="bloque1" width = "30%" vertical-align="top">

                          </tr>
                        </table>
                        
                       <small id="errorMonto" class="form-text form-text-error"></small>
                     </div>
		   
		  </div>
		</div>

<!-- Modal -->
<div class="modal fade" id="dlgMensaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmación de recarga</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="row text-center" >  
            <img id="imgCarrier" src="" height="60" width="60"> 
         </div>
         <div class="row">
            <div class="col-sm-12 text-center">
              <h1 id="lblCarrier"> </h1>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 text-center" >
              <p> Celular </p> 
            </div>
            <div class="col-sm-6 text-center">
              <h3 id="lblCelular"> </h3>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-6 text-center" >
              <p>Monto  </p> 
            </div>
            <div class="col-sm-6 text-center">
              <h1 id="lblMonto"> </h1>
            </div>
         </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

        <button id="btnAceptar" type="button" class="btn btn-primary" data-dismiss="modal">Confirmar recarga</button>
      </div>
    </div>
  </div>
</div>


		<div class="row form-group">
		  <label class="col-md-4 control-label" for="telefono1">Telefono:</label>  
		  <div class="col-md-4">
		  <input name="telefono1" class="form-control input-md" id="telefono1" required="" type="text" >
                  <small class="form-text form-text-error"></small>
 
		  </div>
		</div>


		<div class="row form-group">
		  <label class="col-md-4 control-label" for="telefono2">Confirmar:</label>  
		  <div class="col-md-4">
		  <input name="telefono2" class="form-control input-md" id="telefono2" required="" type="text" >
		  <small class="form-text form-text-error"></small>
  
		  </div>
		</div>
		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" ></label>
		  <div class="col-md-2">
			<button class="btn btn-primary" id="btnRecarga">Recarga</button>
		  </div>
		</div>

	</form>



<!-- Modal -->
<div class="modal fade" id="waitDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Esperando confirmacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="row text-center" >  
            <img id="imgCarrier" src="/static/img/loadTAE.gif" height="60" width="60"> 
         </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dlgResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Estado de la recarga</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="row">
            <div class="col-sm-12 text-center">
              <h1 id="lblEstadoRecarga"> </h1>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 text-center" >
              <p> Celular </p> 
            </div>
            <div class="col-sm-6 text-center">
              <h3 id="lblCelularExitoso"> </h3>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-6 text-center" >
              <p> </p> 
            </div>
            <div class="col-sm-6 text-center">
              <h1 id="lblRespuesta"> </h1>
            </div>
         </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block custom_code_page %}	
	<script src="/static/precio/js/validadores.js"></script>
	<script src="/static/precio/js/recarga.js"></script>
{% endblock %} 

